.form-group{
    margin: 10px 30px 15px;
}
.form-button{
    float: right;
    margin: 10px 30px;
}
.form-control{
    font-size: 1.2rem;
}
.alert{
    position: absolute;
    width: 94%;
    margin-top: -140px;
}